@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
  background: linear-gradient(var(--azul-marino), var(--yellow));
  background-attachment: fixed;
}


:root {
  --bg-main: #ede0d4;
  --bg-soft: #e6ccb2;
  --text-main: rgba(14, 14, 14, 0.948);
  --text-muted: #b0896b;
  --accent: #7f5539;
  --accent-hover: #9c6644;
  --nude: #F7D9BC;
  --celeste: #7694bb;
  --yellow: rgb(253, 253, 150);
  --pastel-yellow: rgba(242, 227, 129, 0.764);
  --grey-nude: rgba(180, 180, 180, 0.4);
  --azul-marino: #00357a;
}

html {
  scroll-behavior: smooth;
}

#root {
  width: 100%;
}

/* Scroll */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--azul-marino);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--azul-marino);
}

.btn {
  padding: 14px 32px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition:
    box-shadow 0.25s ease,
    transform 0.25s ease;
}



/* Selección */
/* ::selection {
  background: var(--accent);
  color: #fff;
} */
